baseBtn()
  background-color: #0084f5
  color: #fff
  border: none
  border-radius: 6px

blueBigBtn()
  display: block
  width: 80%
  height: 40px
  background-color: #0084f5
  color: #fff
  border: none
  border-radius: 6px
  margin: 20px auto