inputItem()
  margin-bottom: 16px
  font-size: 0
  line-height: 0
  text-align: center
itemLabel()
  display: inline-block
  background-color: #ddd
  font-size: 16px
  padding: 6px 14px
  height: 20px
  line-height: 20px
  width: 60px
  border-radius: 6px 0 0 6px
  text-align-last: justify
itemInput()
  margin: 0
  padding: 5px
  font-size: 16px
  height: 20px
  line-height: 20px
  border-radius: 0 6px 6px 0
  border: 1px solid #ddd
  vertical-align: top
  outline: none

baseBtn()
  background-color: #0084f5
  color: #fff
  border: none
  border-radius: 6px

blueBigBtn()
  display: block
  width: 80%
  height: 40px
  background-color: #0084f5
  color: #fff
  border: none
  border-radius: 6px
  margin: 20px auto
  
errmsg()
  position: fixed
  top: 0
  left: 0
  right: 0
  text-align: center
  color: #fff
  padding: 4px 0
  background-color: rgba(0,0,0,.7)
  